.category {
    background-color: grey;
    width: 300px;
    height: 200px;
    padding: 20px;
    font-family: $font_family;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

        @media (min-width: 580px) {
            width: 400px;
            height: 200px;
        }

        @media (min-width: 768px) {
            width: 360px;
            height: 200px;
        }
        @media (min-width: 1024px) {
            width: 680px;
            height: 300px;
        }

        & .title {
            font-size: 2rem;
            font-weight: bold;     
            text-decoration: dotted underline;
            grid-column: 3/6;
            grid-row: 1/2;
            align-self: center;
            justify-self: flex-end;
        }
        
        & .image {
            width: 70px;
            grid-column: 5/6;
            grid-row: 1/2;
        }
    
        & .date {
            font-size: 1.4rem;
            grid-column: 4/6;
            grid-row: 2/4;
            align-self: center;
            font-weight: bold;
            justify-self: flex-end;
        }
    
        & .price {
            font-size: 2rem;
            grid-column: 3/4;
            grid-row: 2/4;
            align-self: center;
            justify-self: flex-end;
            font-weight: bold;
        }
    
        & .location {
            font-size: 1.4rem;
            font-weight: bold;
            display: inline-block;
            grid-column: 2/3;
            grid-row: 2/4;
            align-self: center;
            justify-self: flex-start;
            
            & i {
                color: black;
                display: inline;
                margin-right: 3px;
            }

            & p {
                display: inline;
            }
        }
    
        & .web {
            font-size: 0.8rem;
            grid-column: 2/4;
            grid-row: 4/5;
            align-self: end;
            justify-self: center;
        }
    
        & .sponsor {
            font-size: 0.8rem;
            grid-column: 4/6;
            grid-row: 4/5;
            align-self: end;
            justify-self: flex-end;
        }
    
        & .qr {
            width: 50px;
            grid-column: 5/6;
            grid-row: 4/5;
            justify-self: end;
        }
}


.category__cinema {
    background-image: url(/images/fondo-telon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: $background_landing;

    & .title {     
        text-decoration: dashed underline;
        grid-column: 2/5;
        justify-self: center;
    }
    
    & .image {
    }

    & .date {
        
    }

    & .price {
        
    }

    & .location {
        
        & i {
            
        }
        & p {

        }
    }

    & .web {
        grid-column: 1/3;

    }

    & .sponsor {

    }

    & .qr {

    }
}


.category__music {
    background-image: url(/images/musica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    & .title {
        font-size: 2.5rem;
        font-weight: bold;
        border: 1px solid white;
        grid-column: 1/5;
        grid-row: 1/2;
        align-self: center;
        justify-self: center;
    }
    
    & .image {
        width: 50px;
        grid-column: 5/6;
        grid-row: 1/2;
        justify-self: end;
    }

    & .date {
        font-size: 1.5rem;
        grid-column: 2/4;
        grid-row: 2/4;
        align-self: center;
        font-weight: bold;
        color: $text_color;
    }

    & .price {
        font-size: 2rem;
        grid-column: 1/2;
        grid-row: 2/4;
        align-self: center;
        justify-self: center;
        font-weight: bold;
    }

    & .location {
        font-size: 1.4rem;
        font-weight: bold;
        display: inline-block;
        grid-column: 4/6;
        grid-row: 2/4;
        align-self: center;
        justify-self: center;

        & i {
            color: white;
            display: inline;
            margin-right: 3px;
        }
        & p {display: inline;}
    }

    & .web {
        font-size: 0.8rem;
        grid-column: 1/3;
        grid-row: 4/5;
        align-self: end;
        color: $background_landing;
    }

    & .sponsor {
        font-size: 0.8rem;
        grid-column: 3/5;
        grid-row: 4/5;
        align-self: end;
        color: $background_landing;
    }

    & .qr {
        width: 50px;
        grid-column: 5/6;
        grid-row: 4/5;
        justify-self: end;
    }
}

/*.category__gastronomy {
    background-image: url(/images/gastronomia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    & .title {
        font-size: 2.6rem;
        font-weight: bold;
        border: 1px solid white;
        grid-column: 3/5;
        grid-row: 1/2;
        align-self: end;
        justify-self: center;
        color: $text_color;
    }
    
    & .image {
        width: 50px;
        grid-column: 3/4;
        grid-row: 4/5;
        justify-self: start;
    }

    & .date {
        font-size: 1.5rem;
        grid-column: 2/4;
        grid-row: 2/4;
        align-self: center;
        font-weight: bold;
        color: $text_color;
    }

    & .price {
        font-size: 2rem;
        grid-column: 5/6;
        grid-row: 1/2;
        align-self: center;
        justify-self: center;
        font-weight: bold;
        color: $text_color;
    }

    & .location {
        font-size: 1.4rem;
        font-weight: bold;
        display: inline-block;
        grid-column: 4/6;
        grid-row: 2/4;
        align-self: center;
        justify-self: center;
        color: $text_color;

        & i {
            color: $text_color;
            display: inline;
            margin-right: 3px;
        }
        & p {display: inline;}
    }

    & .web {
        font-size: 0.8rem;
        grid-column: 4/6;
        grid-row: 4/5;
        align-self: center;
        justify-self: end;
        color: $text_color
    }

    & .sponsor {
        font-size: 0.8rem;
        grid-column: 4/6;
        grid-row: 4/5;
        align-self: end;
        justify-self: end;
        color: $text_color;
    }

    & .qr {
        width: 50px;
        grid-column: 2/3;
        grid-row: 4/5;
        justify-self: start;
    }
}*/