/*DESIGN*/

.form__design {
    background-color: $background_landing;
    color: $title_color;
    font-family: $font_family;
    width: 50vw;
    padding: 10px 0 10px 10px;
    
    & h2 {
        font-weight: bold;
        font-size: 1.7rem;
        display: inline-block;
    }

    & i {display: inline-block;
        font-size: 15px;
        padding: 5px;
        color: $icons_color;
    }
}

.form__design--options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    margin-top: 10px;
    & legend {
        font-size: 1.2rem;
        grid-column: 1/2;
    }
}

.options {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    & label {
        font-size: 1.2rem;
    }
}










/*SHARE*/

.form__share {
    background-color: $background_landing;
    color: $title_color;
    width: 50vw;
    height: 10rem;
    font-family: $font_family;
    padding: 10px 0 10px 10px;
    display: flex;


    & h2 {
        font-weight: bold;
        font-size: 1.7rem;
        display: inline-block;
    }

    & i {display: inline-block;
        font-size: 15px;
        padding: 5px;
        color: $icons_color;
    }

    & button {
        all: unset;
        background-color: $icons_color;
        color: $text_color;
        font-weight: 500;
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        align-self: center;
    }
    
}
