<form action="" class="form">
    <section class="form__design">
        <div class="form__design--title">
            <i class="fa-solid fa-pen-nib"></i>
            <h2>DISEÑA</h2>
        </div>

        <fieldset class="form__design--options">
                
            <legend>Elige una categoría</legend>

            <div class="options">
                <label for="categoria1">
                <input
                    id="categoria1"
                    type="radio"
                    value="Gastronomía"
                    name="categorias"/>
                Gastronomía</label>
            
                <label for="categoria2">
                <input
                    id="categoria2"
                    type="radio"
                    value="Musica"
                    name="categorias"/>
                Música</label>

                <label for="categoria3">
                <input
                    id="categoria3"
                    type="radio"
                    value="Cine"
                    name="categorias"/>
                Cine</label>
            </div>
        </fieldset>

    </section>
        

    <section class="form__fillin">
        <i class="fa-regular fa-keyboard" style="color: #acc196;"></i>
        <h2 class="form__fillin--title">RELLENA</h2>

            <div class="form__fillin--input">
                <label for="eventName">Nombre del evento</label>
                <input type="text" id="eventName" class="inputs"/>
            </div>
            <div class="form__fillin--input">
                <label for="location">Ubicación</label>
                <input type="text" id="location" class="inputs"/>
            </div>
            <div class="form__fillin--input">
                <label for="dates">Fechas</label>
                <input type="date" id="dates" class="inputs" />
            </div>
            <div class="form__fillin--input">
                <label for="image">Foto o Logo</label>
                <input type="submit" id="image" class="inputs inputimg" value="Añadir imagen"/>
            </div>
            <div class="form__fillin--input">
                <label for="price">Precio</label>
                <input type="number" id="price" class="inputs" />
            </div>
            <div class="form__fillin--input">
                <label for="qrcode">QR</label>
                <input type="text" id="qrcode" class="inputs" />
            </div>
            <div class="form__fillin--input">
                <label for="website">Web del organizador</label>
                <input type="text" id="website" class="inputs" />
            </div>
            <div class="form__fillin--input">
                <label for="sponsors">Nombres de los patrocinadores</label>
                <input type="text" id="sponsors" class="inputs" />
            </div>
        

    </section>

    <section class="form__share">
        <div class="form__share--title">
            <i class="fa-solid fa-share"></i>
            <h2>COMPARTE</h2>
        </div>

        <a href="./final_design.html" class="form__share--button" target="_blank">
            <i class="fa-solid fa-ticket"></i>
            CREAR ENTRADA</a>

        <div class="form__share--link">
            <h5>La entrada ha sido creada:</h5>
            <p>url de la entrada que no se muy bien como se hace.</p>
            <a href="#">Compartir en Twitter</a>

        </div>


    </section>
</form>