<form action="" class="form">
    <section class="form__design">
        <h2>DISEÑA</h2>

        <div>
            <label for="">COLORES</label>
            <input type="radio">
        </div>

    </section>
        

    <section class="form__fillin">
        <h2>RELLENA</h2>

        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">

    </section>

    <section class="form__share">
        <h2>COMPARTE</h2>

        <button>Crear entrada</button>


    </section>
</form>