<main class="page_landing">
 <img class="logo_landing" src="/images/Transparencias/logo_letras_black.png" alt="logo_letras_black">
 <h1 class="title_landing">PERSONALIZA TUS <br> EVENTOS</h1>
 <h3 class="subt_landing">CREA TUS PROPIAS ENTRADAS DE <br> FORMA SENCILLA Y RÁPIDA</h3>
 <section class="rectangle">
    
    <i class="fa-solid fa-pen-nib icon_landing"></i>
    
    <i class="fa-regular fa-keyboard icon_landing "></i>
    
    <i class="fa-solid fa-share icon_landing"></i>
    
 </section>
    <button class="button_landing " target="_blank">
        <a href="./tickets.html">CREAR ENTRADAS</a>
    </button>
</main>

