<main class="page_landing">
 <img class="logo_landing" src="/images/Transparencias/logo_letras_black.png" alt="logo_letras_black">
 <h1 class="title_landing">PERSONALIZA TUS <br> EVENTOS</h1>
 <h3 class="subt_landing">CREA TUS PROPIAS ENTRADAS DE <br> FORMA SENCILLA Y RÁPIDA</h3>
 <section class="rectangle">
    <a href="./tickets.html">
        <i class="fa-solid fa-pen-to-square icon_landing"></i>
    </a>
    <a href="">
        <i class="fa-solid fa-keyboard icon_landing"></i>
    </a>
    <a href="./final_design.html">
        <i class="fa-solid fa-share-nodes icon_landing"></i>
    </a>
 </section>
 <button class="button_landing">Crear Entradas </button>
</main>

