<section class="ticket__section">
    <div class="ticket__wrapper">
        <div class="button__ticket">
            <button class="button__ticket--button">RESET</button>
        </div>

       <div class="category js-preview">
            <h2 class="title js-preview-title"></h2>
            <img src="" alt="" class="image"/>
            <p class="date js-preview-date"></p>
            <p class="price js-preview-price"></p>
            <div class="location js-preview-location">
                <!--<i class="fa-solid fa-location-dot"></i> -->
                <p></p>
            </div>
            <p class="web js-preview-web"></p>
            <p class="sponsor js-preview-sponsor"></p>
            <img src="" alt="" class="qr">
        
        </div> 

    </div>
</section>
