<section class="ticket-section">
    <div class="ticket-wrapper">
        <div class="button-ticket">
            <button class="button-ticket_button"></button>
        </div>
        <div class="ticket">
            <div>
                <h1>Entrada</h1>
                <h2>1</h2>
            </div>
        </div>
        <div class="ticket-image">
            <img class="imageticket" src="">
        </div>
        <div class="icons"></div>
            <div class="icon1">
                <a href=""></a>
            </div>
            <div class="icon2">
                <a href=""></a>
            </div>
            <div class="icon3">
                <a href=""></a>
            </div>
            <div class="icon4">
                <a href=""></a>
            </div>
    </div>
</section>